{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template gradingform_checklist/grades/grader/gradingpanel

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * instanceid: Instance of the module this grading form belongs too
    * criteria: A gradeable item in the Marking Guide
    * id: The ID of the criteria
    * description: Description of the criteria
    * items: The items that a criteria can be graded at
    * criterionid: The ID of the criteria
    * checked: Flag for if this is the currently selected item
    * definition: Definition of the item
    * remark: Text input for the teacher to relay to the student

    Example context (json):
    {
        "instanceid": "42",
        "criteria": [
            {
                "id": 13,
                "description": "Show your motivation to rock climbing",
                "numitems": 10,
                "numitemschecked": 5,
                "items": [
                    {
                        "criterionid": 13,
                        "checked": true,
                        "definition": "Great work!",
                        "remark": "That's great!"
                    }
                ],
            }
        ],
        "numitems": 10,
        "numitemschecked": 5,
    }
}}
<form id="gradingform_checklist-{{uniqid}}">
    <input type="hidden" name="instanceid" value="{{instanceid}}">
    <div id="checklist-advancedgrading-{{uniqid}}" class="criterion">
        {{#criteria}}
            <div class="mb-3">
                <div class="d-flex align-items-center mb-2">
                    <h5 id="criterion-description-{{id}}" class="px-0 mb-0 description font-weight-bold">{{{description}}}</h5>
                    <button class="criterion-toggle btn btn-icon icon-no-margin text-reset p-0 font-weight-bold mb-0 ml-auto"
                            type="button"
                            data-toggle="collapse"
                            data-target="#criteria-{{id}}"
                            aria-expanded="true"
                            aria-controls="criteria-{{id}}">
                            <span class="collapsed-icon">
                                {{#pix}} t/collapsed, core {{/pix}}
                                <span class="sr-only">{{#str}} expandcriterion, core_grades {{/str}}</span>
                            </span>
                        <span class="expanded-icon">
                                {{#pix}} t/expanded, core {{/pix}}
                            <span class="sr-only">{{#str}} collapsecriterion, core_grades {{/str}}</span>
                            </span>
                    </button>
                </div>
                <div class="collapse show criterion" id="criteria-{{id}}" role="radiogroup" aria-labelledby="criterion-description-{{id}}">
                    {{#items}}
                        <div class="form-check">
                            <input class="form-check-input item"
                                   type="checkbox"
                                   name="advancedgrading[groups][{{criterionid}}][items][{{id}}][id]"
                                   id="advancedgrading-groups-{{criterionid}}-items-{{id}}-id-input"
                                   value="{{id}}"
                                {{#checked}}
                                   aria-checked="true"
                                   tabindex="0"
                                   checked
                                {{/checked}}
                                {{^checked}}
                                   aria-checked="false"
                                   tabindex="-1"
                                {{/checked}}
                            >
                            <label class="w-100" for="advancedgrading-groups-{{criterionid}}-items-{{id}}-id-input">
                                <span>
                                    {{{definition}}}
                                </span>
                                <span class="pull-right">
                                    {{#str}}scorepostfix, gradingform_checklist, {{score}}{{/str}}
                                </span>
                            </label>
                        </div>
                            <div class="form-group">
                                <label class="text-muted" for="advancedgrading-groups-{{criterionid}}-items-{{id}}-remark-input">{{#str}} additionalfeedback, core_grades {{/str}}</label>
                                <textarea class="form-control"
                                       name="advancedgrading[groups][{{criterionid}}][items][{{id}}][remark]"
                                       id="advancedgrading-groups-{{criterionid}}-items-{{id}}-remark-input"
                                       cols="10"
                                       rows="1"
                                       data-max-rows="5"
                                       data-auto-rows="true"
                                >{{{remark}}}</textarea>
                            </div>
                    {{/items}}
                    <div id="pointsgroup-{{id}}" class="pointsgroup">
                        <strong>
                            <span>{{#str}} grouppoints, gradingform_checklist {{/str}}: <span class="scoredpoints">{{numitemschecked}}</span>/<span class="outofpoints">{{numitems}}</span></span>
                        </strong>
                    </div>
                </div>
            </div>
        {{/criteria}}
        <div id="pointstotals">
            <strong>
                <span>{{#str}} overallpoints, gradingform_checklist {{/str}}: <span class="scoredpoints">{{numitemschecked}}</span>/<span class="outofpoints">{{numitems}}</span></span>
            </strong>
        </div>
    </div>
</form>
{{#js}}
    require(['core/auto_rows'], function(AutoRows) {
        AutoRows.init(document.getElementById('gradingform_checklist-{{uniqid}}'));
        $('.form-check-input.item').change(function () {
            let criterion = $(this).closest('.criterion');
            let numchecked = criterion.find('.form-check-input.item:checked').length;
            criterion.find('.pointsgroup').find('.scoredpoints').text(numchecked);
            let totalchecked = $('.form-check-input.item:checked').length;
            $('#pointstotals').find('.scoredpoints').text(totalchecked);
        });
    });
{{/js}}
